<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Digimon</a>
</nav>

<div class="container mt-5">
  <fieldset>
    <legend><h4>Filtro de búsqueda</h4></legend>
    <div class="container mb-5">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Nombre</label>
            <input class="form-control" placeholder="Ingrese nombre" [(ngModel)]="name">
          </div>
          <button class="btn btn-success" (click)="searchByName(); this.isError = false;">Buscar</button>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Nivel</label>
            <ng-select [items]="levels" bindValue="name" bindLabel="name" (change)="level = $event.name;"></ng-select>
          </div>
          <button class="btn btn-success" (click)="searchByLevel(); this.isError = false;">Buscar</button>
        </div>
      </div>
    </div>
  </fieldset>

  <div *ngIf="isError" class="alert alert-danger" role="alert">
    No se encuentra el digimón que andas buscando, quizás se te arrancó.
  </div>

  <div class="alert alert-info" role="alert">
    Hay {{digimons?.length}} digimons.
  </div>

  <div class="row">
    <div class="card ml-5 mb-5" style="width: 18rem;" *ngFor="let digimon of digimons">
      <img [src]="digimon.img" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{digimon.name}}</h5>
        <p class="card-text">{{digimon.level}}</p>
      </div>
    </div>

  </div>
</div>
<ngx-loading [show]="isLoading"></ngx-loading>